<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Lista de Eventos</h1>
        <ul id="eventList">
            <li th:each="evento : ${eventos}">
                <span th:text="${evento.nombre}"></span>
                <button class="deleteButton">Eliminar</button>
            </li>
        </ul>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>