<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favoritos</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Mis Favoritos</h1>
        <ul id="favoritosList">
            <li th:each="favorito : ${favoritos}">
                <span th:text="${favorito.nombre}"></span>
                <button class="deleteButton">Eliminar</button>
            </li>
        </ul>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>